

.button-link {
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1.5px solid black;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: center;
    color: black;
    background-color: transparent;
    transition: background-color 0.4s;
}

.button-link:hover {
    background-color: #A594F9;
}



.cards-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-row {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


@media (max-width: 600px) {
    .websites-row {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .websites-box {
        width: 75vw;
        height: 20vh;
        border: 1.5px solid black;
        background:#ffffff;
    
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.4s;
    }
}





/* CYBERCARD */
.cyber-card {
  font-family: "IBM Plex Mono", monospace;
  width: 30vw;
  height: 250px;
  translate: -6px -6px;
  background: #A594F9;
  border: 1.5px solid #000000;
  box-shadow: 4px 4px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cyber-head {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 32px;
  background: #ffffff;
  padding: 5px 12px;
  color: #000000;
  border-bottom: 1.5px solid #000000;
}

.cyber-content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 300;
}

.cyber-button {
  padding: 5px 10px;
  margin-top: 10px;
  border: 1.5px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
  background: white;
  transition: all 0.3s ease;
  cursor: pointer;
  
}

.cyber-button:hover {
  translate: 1px 1px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: white;
}

.cyber-button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

.cyber-card:hover {
  translate: -6px;
}
/* CYBERCARD */
