* {
    cursor: url('assets/cursor.svg') 0 0, auto;
  }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

}




.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

/* Ende der allgemeinen Seiteneinstellungen */

.logo {
    font-family: "Avenir", sans-serif;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -0.06em;
    margin-top: 25vh;

}


/* _________________________________Navigation_________________________________ */

.main-nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 0;

}


.main-nav a {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: black;
    /* transition: font-size 0.4s; */
    transition: color 0.4s;
    
}


.main-nav a:hover{
    /* font-size: 18px; */
    color: #cdc7f4;
}
.main-nav a.active{
    /* text-decoration: underline; */
    color: #A594F9;
}

/* _________________________________Text unten_________________________________ */

.intro-text {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: center;
    color: black;
    max-width: 1000px;

    margin-left: 100px;
    margin-right: 100px;

}



/* ____________________________ contact______________________________________________ */




.social-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin: 0;

}


.social-links a {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: black;
    /* transition: font-size, 0.4s; */
    transition: color 0.4s;
}

.social-links a:hover {
    /* font-size: 48px; */
    color: #A594F9;
}




/* ________________________CV____________________________________________ */


.download-cv {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}



.download-cv a:hover {
    color: blue;
}
/* __________________________________projects_______________________________________________ */

.project-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-row {
    display: flex;
    flex-direction: row;
    gap: 12px;

}






.project-box-link {
    color: black;
    text-decoration: none;
}


.project-box {
    width: 30vw;
    height: 20vh;
    border: 1.5px solid black;
    background:#ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s;

}

.project-box h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: center;
    color: black;
}

.project-box:hover {
    background: #A594F9;
}

/* ___________________________________Responsives Verhalten mit @media__________________________ */

@media (max-width: 800px) {
    .main-nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

}




 /* _________________________one year__________________________________________- */

.audio-container {
    justify-content: center;
    align-items: center;
}

.audio-container h2 {
    text-align: center;
}


